<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Sport Scheduer</title>
    <script>
        //  function deleteTodo(id) {
        //     fetch(`/todos/${id}`, {
        //         method: 'DELETE',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             _csrf: token
        //         })
        //     }).then(res => {
        //         if (res.ok) {
        //             window.location.reload()
        //         }
        //     }).catch((err) => console.error(err))
        // }
        // a function to fetch the value of sport from the url and pass it to server to be deleted
        // function deleteSport(sport) {
        //     console.log(sport)
        //     fetch('/', {
        //         method: 'DELETE',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             sport: sport
        //         })

        //     }).then(response => {
        //         if (response.ok) {
        //             window.location.reload()
        //         }
        //     }).catch((err) => console.error(err))

        // }

    </script>
</head>

<body>


    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- //include ('header.ejs') %>
                <div class="border rounded-lg p-4 bg-white">
                    <p class="py-2 text-2xl font-bold">Welcome to Sports Scheduler</p>
                    <p class="py-2"><a class="text-green-400" href="/newSport">Add Sport</a></p>
                    <p class="py-2"><a class=" text-green-400" href="/sessions">View Sessions</a></p>

                    <h2 class="text-lg font-medium text-gray-900 mb-2">List of Sports</h2>
                    <div class="flex flex-col gap-2">
                        <% const sports=sessions.map(session=> session.sport);
                            const uniqueSports = [...new Set(sports.filter(Boolean))];
                            uniqueSports.forEach(sport => { %>
                            <a href="/sports/<%= sport %>" class="flex items-center justify-between">
                                <div
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded capitalize w-auto">
                                    <%= sport %>
                                </div>

                            </a>
                           
                            <% }); %>
                        </div>

                </div>
        </div>
    </div>


</body>

</html>